<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
    	.pads{
    		padding-bottom: 30%;
    	}
    </style>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container text-center mt-5 pads">
        <h1>Esnaf Uygulamasına Hoş Geldiniz!</h1>
        <p>Burada esnaf bilgilerini paylaşabilir, iletişim kurabilirsiniz.</p>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
